# Node
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel
/vendor
.env
.env.*
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/public/build
/public/hot
/public/mix-manifest.json
/public/assets

# PHPUnit
/.phpunit.cache
/.phpunit.result.cache

# IDEs
/.idea
/.vscode
/.fleet

# Homestead
Homestead.json
Homestead.yaml

# PHP tools
/phpactor.json
/auth.json
